{:paths ["."]
 :deps {}
 :tasks
 {:requires ([babashka.process :as p]
             [clojure.string :as str])

  watch
  {:doc "Hot-reload the server on source changes (requires cargo-watch)"
   :task (do
           (deref (p/process ["mkdir" "-p" "dev-data"] {:inherit true}))
           (deref (p/process ["cargo" "watch"
                              "-x" "run -p sorter2-server"
                              "-w" "server/"]
                             {:inherit true
                              :env (merge (into {} (System/getenv))
                                          {"SORTER2_DATA_DIR" "dev-data"
                                           "PORT"             "8080"
                                           "RUST_LOG"         "info"})})))}}}
