{:paths ["." "test"]
 :deps {cheshire/cheshire {:mvn/version "5.13.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        babashka/fs {:mvn/version "0.5.32"}
        babashka/process {:mvn/version "0.6.25"}
        com.blockether/spel {:mvn/version "0.7.11"}}
 :aliases
 {:kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                        lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}
          :main-opts ["-m" "kaocha.runner"]}}}
