#kaocha/v1
{:tests
 [{:id :all
   :test-paths ["test"]
   :source-paths ["."]
   :ns-patterns ["^test\\..+"]
   :kaocha.filter/skip-meta [:skip]
   :parallel? false}]
 :plugins [:kaocha.plugin/junit-xml]
 :kaocha.plugin.junit-xml/target-file "target/kaocha-junit.xml"
 :reporter kaocha.report.progress/report}
